{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
						<h2 class="h4"><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" >{{ $name }}</a> ({{ .Count }})</h2>
            
				{{ end -}}
			</div>
    </article>
  </div>
</div>
{{ end }}